[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Comment=Web Browser
Exec=/usr/bin/firefox
Icon=/home/docker/.icons/firefox.png
Terminal=false
Categories=Network;WebBrowser;
